
            <div class="bg-warning" style="height: 500;">
                <h1>WELCOME TO REGISTRATION PAGE</h1>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" #txtLogin  placeholder="Enter login id"/>
                <br/>
                <input type="Password" class="form-control" #txtPass  placeholder="Enter password"/>
                <br/>
                <input type="repeatpassword" class="form-control" #txtLogin  placeholder="confirm password"/>
                <br/>
                <input type="button" value="Login" />
                </div>
            
             
