
<div class="container">
  <section class="col-sm-9">
    <div class="row justify-content-start mb-3">
     <h1><u></u></h1>
</div>
 <div class="bg-info" style="height: 500px;">
      <br/>
     <br/>
       <div class="form-group">
          <input type="button" value="newsfeed"><br><br>
          <input type="button" value="blockedaccounts"><br><br>
          <input type="button" value="account update"><br><br>
          <input type="button" value="search"><br><br>
          <input type="button" value="logout"><br><br>
       </div>
       </div>
  </section>
