
<div class="container">
  <section class="col-sm-9">
    <div class="row justify-content-start mb-3">
     <h1>my media</h1>
</div>
</section>
 <div class="bg-info" style="height: 500px;">
      <br/>
     <br/>
       <div class="form-group">
          <input type="button" value="followers"><br><br>
          <input type="button" value="following"><br><br>
       </div>
       <div class="card-deck">
        <div class="card">
        <img class="card-img-top" src="/assets/follow.jpg" alt="Card image">
        <div class="card-body">
          
        </div>
        <div class="card-footer">follow/unfolllow</div>
      </div>
        <div class="card">
        <img class="card-img-top" src="/assets/follow.jpg" alt="Card image">
        <div class="card-body">
         
        </div>
        <div class="card-footer">follow/unfolllow</div>
      </div>
      
      <div class="card">
        <img class="card-img-top" src="/assets/follow.jpg" alt="Card image">
        <div class="card-body">
         
        </div>
        <div class="card-footer">follow/unfolllow</div>
      </div>
      
      
      <div class="card">
        <img class="card-img-top" src="/assets/follow.jpg" alt="Card image">
        <div class="card-body">
          
        </div>
        <div class="card-footer">follow/unfolllow</div>
      </div>
    </div>
    <br><br>
    <div class="card-deck">
      <div class="card">
      <img class="card-img-top" src="/assets/follow.jpg" alt="Card image">
      <div class="card-body">
        
      </div>
      <div class="card-footer">follow/unfolllow</div>
    </div>
      <div class="card">
      <img class="card-img-top" src="/assets/follow.jpg" alt="Card image">
      <div class="card-body">
       
      </div>
      <div class="card-footer">follow/unfolllow</div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="/assets/follow.jpg" alt="Card image">
      <div class="card-body">
       
      </div>
      <div class="card-footer">follow/unfolllow</div>
    </div>
    
    
    <div class="card">
      <img class="card-img-top" src="/assets/follow.jpg" alt="Card image">
      <div class="card-body">
        
      </div>
      <div class="card-footer">follow/unfolllow</div>
    </div>
    </div>
 </div>
 </div>
 