<div class="container">
    <div class="col-sm-9">
      <div class="row justify-content-start mb-3">
       <h1>multi media</h1>
  </div>
   <!--<div class="bg-info" style="height: 500px;">
        <br/>
       <br/>-->
              <div>
                  <input type="text" value="new media page"><br><br>
              </div>
              <div>
                <div>
                    <u>multiMedia</u><br><br>
                </div>
                 <!--<div><input type="button" value="Single Media">singlemedia</div>
                      <div><input type="button" value="Multiple Media" [routerLink]="[/'singlemedia']">multimedia</div><br><br>-->
                     Browse    <input type="button" value="Browse"> &nbsp;<input type="button" value="Uploadall"><br><br>
                     Title     <input type="text" name="title"><br><br>
                     Description  <input type="text" name="desc"><br><br>
                     Tags      <input type="text" name="tags"><br><br>
                     Effects   <input type="text" value="sepia"> 
                     <input type="text" value="Grey"> 
                     <input type="text" value="Brightness">
                     <input type="text" value="Contrast"><br><br><br><br>

                     
                     Title     <input type="text" name="title"><br><br>
                     Description  <input type="text" name="desc"><br><br>
                     Tags      <input type="text" name="tags"><br><br>
                     Effects   <input type="text" value="sepia"> 
                     <input type="text" value="Grey"> 
                     <input type="text" value="Brightness">
                     <input type="text" value="Contrast"><br><br><br><br>

                     
                     Title     <input type="text" name="title"><br><br>
                     Description  <input type="text" name="desc"><br><br>
                     Tags      <input type="text" name="tags"><br><br>
                     Effects   <input type="text" value="sepia"> 
                     <input type="text" value="Grey"> 
                     <input type="text" value="Brightness">
                     <input type="text" value="Contrast"><br><br>
                   
                 
              </div>
            
            </div>
          </div>
          
       

