<div>
    <table class="table">
        <thead>
            <th>Sno</th>
            <th>TITLE</th>
            <th>DESCRIPTION</th>
            <th>TAG</th>
            <th>NAME</th>
        </thead>
        <tbody>
         <tr *ngFor="let Media of MediaList; let i = index">
             <td>{{i+1}}</td>
             <td>{{media.title}}</td>
             <td>{{media.description}}</td>
             <td>{{media.tag}}</td>
             <td>{{media.name}}</td>
        </tr>
        </tbody>
    </table>
</div>