<div class="container">
    <div class="row mb-4 mt-4">
            <div class="col-3">
                <div class="row"><a href="button" class="btn btn-primary"><u>Account</u></a></div>
                <div class="row"><a href="button" class="btn btn-primary">login</a></div>
                <div class="row"><a href="button" class="btn btn-primary">Register</a></div>
            </div>
        <div class="cols-9" text-center>
                <div class="row mb-4 mt-4 "><h1>Login</h1></div>
                 <div class="row form-group"><label class="col-3">username</label>
                 <div class="col-6"><input type="text" name="uname" max="15"></div>
                 </div>
                 <div class="row form-group"><label class="col-3">upassword</label>
                 <div class="col-6"><input type="text" name="upass" max="15"></div>
                 </div>
                 <div class="row form-group"><label class="col-3">repeat password</label>
                 <div class="col-6"><input type="text" name="repeat pass" max="15"></div>
                 </div>
                 <div class="row form-group"><label class="col-3">Email</label>
                 <div class="col-6"><input type="text" name="Email" ></div> 
                 
                 <div class="row form-group"><label class="col-3"></label>
                     <div class="col-6"><input type="button" value="Register" ></div>
                 </div>
       </div>
     </div>
       </div>