<div class="container">
    <div class="row mb-4 mt-4 ">
       <div class="cols-3"><img src="logo.jpg" width="100px" height="100px"></div>
       <div class="cols-6">
           <nav>
                   <a href="button" class="btn btn-primary">upload media</a>
                   <a href="button" class="btn btn-primary">mymedia</a>
                   <a href="button" class="btn btn-primary">followerslfollowing</a>
           </nav>
       </div>
       <div class="col-3"><a href="button" class="btn btn-primary">Account</a>
       </div>
       </div>
