
<div class="container">
    <section class="col-sm-9">
        <div class="row justify-content-start mb-3">
    <h1>LOGIN</h1>
</div>
<div class="bg-info" style="height: 500px;">
    <div *ngIf="!autherized" class="text-danger">
        <h3>{{errorMessage}}</h3>
      </div>
    <br/>
    <div class="form-group">
        
        <input type="text" class="form-control" #txtLogin  placeholder="Enter login id"/>
        <br/>
        <input type="Password" class="form-control" #txtPass  placeholder="Enter password"/>
        <br/>
        <input type="button" value="Login"  (click)="checkLogin(txtLogin, txtPass)"/>
    </div>
</div>
 </section>
</div>



  