
<div class="container">
  <section class="col-sm-9">
    <div class="row justify-content-start mb-3">
     <h1>my media</h1>
</div>
</section>
 <div class="bg-info" style="height: 500px;">
      <br/>
     <br/>
       <div class="form-group">
          <input type="button" value="images"><br><br>
          <input type="button" value="videos"><br><br>
       </div>
            <div class="container">
              
                <div class="card-columns">
                  <div class="card-deck">
                    <div class="card">
                      <img class="card-img-top img-fluid" src="/assets/media.jpg" alt="Card image">
                      <!--<div class="card-body">
                        <p class="card-text">image1</p>
                      </div>-->
                      </div>

                      <div class="card">
                        <img class="card-img-top img-fluid" src="/assets/media.jpg" alt="Card image">
                        <!--<div class="card-body">
                          
                          <p class="card-text">image1</p>
                        </div>-->
                        </div>
                     
                      
                      <div class="card">
                        <img class="card-img-top img-fluid" src="/assets/media.jpg" alt="">
                        <!--<div class="card-body">
                          
                          <p class="card-text">image1</p>
                        </div>-->
                        </div>
                      
                      
                      <div class="card">
                        <img class="card-img-top img-fluid" src="/assets/media.jpg" alt=" ">
                       <!-- <div class="card-body">
                          <p class="card-text">image1</p>
                        </div>-->
                  </div>
                  </div>
 
                           <div class="card-deck">
                            <div class="card">
                              <img class="card-img-top img-fluid" src="/assets/media.jpg" alt="Card image">
                              <!--<div class="card-body">
                                <p class="card-text">image1</p>
                              </div>-->
                              </div>

                              <div class="card">
                                <img class="card-img-top img-fluid" src="/assets/media.jpg" alt="Card image">
                                <!--<div class="card-body">
                                  
                                  <p class="card-text">image1</p>
                                </div>-->
                                </div>
                             
                              
                              <div class="card">
                                <img class="card-img-top img-fluid" src="/assets/media.jpg" alt="">
                                <!--<div class="card-body">
                                  
                                  <p class="card-text">image1</p>
                                </div>-->
                                </div>
                              
                              
                              <div class="card">
                                <img class="card-img-top img-fluid" src="/assets/media.jpg" alt=" ">
                               <!-- <div class="card-body">
                                  <p class="card-text">image1</p>
                                </div>-->
                          </div>
                          </div>
                         
                       
                     
                

